.text-sample{
      -fx-font-size: 16px;
      -fx-font-family: "Arial";
      -fx-font-weight: bold;
  }
.background{
      -fx-background-color: #D5DEDE;
    }
.popupp{
    -fx-background-color: #add8e6;
    }
.Text-title{
    -fx-font-size: 25px;
    -fx-font-family: "Arial";
    -fx-font-weight:bold;
    }
.Massage-color{
    -fx-background-color: #fffDfd;
    }

.close-button{
     -fx-background-color:#ff6347;
     }
.button-1{
    -fx-background-color: #5CBAE2;
    }
.grey-button{
    -fx-background-color: #808080;
    }
.button-2{
    -fx-background-color: #74EA72;
    }
.radioButtons{
    -fx-background-color: #09CDDA;
    -fx-padding: 15px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-font-size: 15px;
    -fx-border-color: black;
    -fx-max-width: 175px;
    -fx-min-width: 175px;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}
